<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
   <link rel="stylesheet" href="./../../assets/styles/estilos.css">
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>

    <header>
        <nav class="navbar navbar-expand-lg menu navbar-dark fixed-top">
            <div class="container-fluid">
                <img src="./../../assets/img/logotipo.png" alt="logo" class="img-fluid" height="80" width="80">
              <a class="navbar-brand" href="../../index.html">Inicio</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">

                </ul>
              </div>
            </div>
          </nav>
    </header>
    <main>

        <section class="medicoSura text-black" id="help">
            <h3>REGISTRO MEDICO SURA<b></b></h3>
            <p class="p">En la actualidad, enfrentamos desafíos sin precedentes en el ámbito de la salud. Enfermedades crónicas, pandemias y la resistencia a los antibióticos son solo algunos de los problemas que requieren soluciones innovadoras. La investigación médica se ha intensificado, impulsando la colaboración entre científicos, médicos y tecnólogos. La medicina personalizada, por ejemplo, ha emergido como un enfoque prometedor, adaptando tratamientos a las características genéticas y biológicas de cada paciente.</p >
        </section>

        <section class="container caja">
            <h3 id="h3">NUESTROS SERVIVIOS MEDICOS</h3>
            <p class="t">Nos esforzamos por garantizar un servicio de calidad, centrado en el paciente, para acompañarte en cada paso hacia una mejor salud y calidad de vida.</p>
            <hr>
            <br><br>
            <div class="row row-cols-1 row-cols-md-6 g-3">
              <div class="col">
                <div class="card h-20 p-5 shadow">
                  <h3 class="hos"><i class="bi bi-lungs-fill fs-1"></i></h3>
                </div>
              </div>
  
              <div class="col">
                <div class="card h-20 p-5 shadow">
                  <h3 class="hos"><i class="bi bi-clipboard-heart-fill fs-1"></i></h3>
                </div>
                
              </div>
  
              <div class="col">
                <div class="card h-20 p-5 shadow">
                  <h3 class="hos"><i class="bi bi-heart-fill fs-1"></i></h3>
                </div>
              </div>
              <div class="col">
                <div class="card h-20 p-5 shadow">
                  <h3 class="hos"><i class="bi bi-ear-fill fs-1"></i></h3>
                </div>
              </div>
              <div class="col">
                <div class="card h-20 p-5 shadow">
                  <h3 class="hos"><i class="bi bi-virus fs-1"></i></h3>
                </div>
              </div>
              <div class="col">
                <div class="card h-20 p-5 shadow">
                  <h3 class="hos"><i class="bi bi-activity fs-1"></i></h3>
                </div>
              </div>
            </div>
          </section>
          <br><br>
          <section class="container my-5">
            <div class="row justify-content-center">
                <div class="col-12 col-md-4 align-self-center animate__animated animate__backInLeft">
                    <h3 class="h3">en busca de una mejor medicina</h3>
                    <p>
                        la búsqueda de una mejor medicina continúa, impulsada por la esperanza de un mañana donde la salud sea un derecho universal y donde cada individuo pueda acceder a la atención que merece
                    </p>
                </div>
                <div class="col-12 col-md-4  animate__animated animate__backInRight">
                    <img src="../../assets/img/bonito.png" class="banner5" alt="">
                </div>
            </div>
        </section>
        <section class="container">
            <div class="row my-5">
                <div class="col-12 col-md-8">

                   <form class="border rounded shadow p-5">

                        <div class="row">
                            <div class="col-6">
                                <label class="form-label">Nombre:</label>
                                <input class="form-control" type="text " id="nombremedico">
                            </div>

                            <div class="col-6">
                                <label class="form-label">Telefono:</label>
                                <input class="form-control" type="text" id="telefonomedico">
                            </div>
                        
                        </div>

                        <div class="row my-3">
                            <div class="col-6">
                                <label class="form-label">Correo:</label>
                                <input class="form-control" type="email" id="correomedico">
                            </div>

                            <div class="col-6">
                                <label class="form-label">IPS:</label>
                                <input class="form-control" type="text" id="IPSmedico">
                            </div>
                        
                        </div>

                        <div class="row my-3">
                            <div class="col-6">
                                <label class="form-label">Matricula profesional:</label>
                                <input class="form-control" type="text " id="matriculaprofesionalmedico">
                            </div>

                            <div class="col-6">
                                <label class="form-label">Especialidad:</label>
                                <input class="form-control" type="text " id="especialidadmedico">
                            </div>
                        
                        </div>

                        <div class="row my-3">
                            <div class="col-6">
                                <label class="form-label">Salario:</label>
                                <input class="form-control" type="text" id="salariomedico">
                            </div>

                            <div class="col-6">
                                <label class="form-label">Direccion:</label>
                                <input class="form-control" type="text" id="direccionmedico">
                            </div>

                          
                        
                        </div>

                        <div class="row my-3">
                            <div class="mb-3 form-check ms-3">
                                <input type="checkbox" class="form-check-input " id="disponiblefinsemana">
                                <label class="form-check-label">Disponible fin de semana</label>
                              </div>
                        </div>
                        
                        <button class="btn btn-primary w-100" id="botonregistromedico">registrar</button>

                   </form>
                </div>
                    <div class="col-12 col-md-4 align-self-center"> <h3>Registro medico</h3>
                        <p>El registro médico es un componente fundamental del sistema de atención sanitaria, ya que recopila y organiza la información relevante sobre la salud de los pacientes. Este documento no solo incluye datos clínicos, como diagnósticos, tratamientos y resultados de pruebas, sino también información demográfica, antecedentes médicos y detalles sobre la historia familiar del paciente</p>
                        <img src="../../assets/img/medico.webp" class="img-fluid" alt="">
                    </div>
            </div>
        </section>
        <br>
        <img class="medicos3" src="../../assets/img/medicas5.webp" alt="">
       
    </main>
  
    <footer>

    </footer>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    <Script src="../controllers/controladorRegistroMedico.js" type="module"></Script>
</body>
</html>
